@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

/* custom properties */
:root{
  --violet-clr: hsl(257, 40%, 49%);
  --soft-magenta-clr: hsl(300, 69%, 71%);
	--light-clr: hsl(0, 0%, 100%);  

  --fw-600: 600;
  --ff-poppins: 'Poppins', sans-serif;
  --ff-open-sans: 'Open Sans', sans-serif;
	
	--radius-circle: 50%;
	--radius-pill: 25px;

	--transition: 350ms ease;

}

/* reset */
*,*::before,*::after{
 	box-sizing: border-box;
}

*{
	margin: 0;
	padding: 0;
}
 
html{
	font-size: 100%;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

body{
	font-size: 1rem;
	font-family: var(--ff-open-sans);
	background-color: var(--violet-clr);
	min-height: 100vh;
	line-height: 1.5;
	background-image: url('../images/bg-mobile.svg');
	background-repeat: no-repeat;
	background-position: top center;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

a{
	text-decoration: none;
}

ul{
	list-style:none;
}

/* Makes images easier to work with */
img, figure, picture, svg, video{
	display: block;
	max-width: 100%;
}
 
/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}


/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* resusable classes */
.d-grid{
	display: grid;
}

.place-items-center{
	display: flex;
	justify-content: center;
	align-items: center;
}

.btn{
	display: inline-block;
	font-size: 0.8125rem;
	font-family: var(--ff-poppins);
	padding: 0.625rem 38px;
	border-radius: var(--radius-pill);
	box-shadow: 0 8px 17px -8px hsla(0, 0%, 0%, 0.8);
	transition: var(--transition);
}

.btn-purple{
	background-color: var(--light-clr);
	color: var(--violet-clr);
}

.btn-purple:is(:hover,:focus){
	background-color: var(--soft-magenta-clr);
	color: var(--light-clr);
}

/* header */
.header{
	padding: 2.4375rem 0 4.1875rem 0;
}

.logo-image{
	width: 8rem;
}

/* main */
:is(main, .header, footer){
	padding-inline: 3rem;
}

/* hero */
.hero{
	color: var(--light-clr);		
	text-align: center;
}

.hero-title{
	font-weight: var(--fw-600);
	font-family: var(--ff-poppins);
	margin-block-end: 1.75rem;
}

.hero-banner{
	margin-block-end: 4.375rem;
}

.hero-banner img{
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.hero-description{
	margin-block-end: 2.375rem;

}

/* footer - social-list */
.social-list{
	gap: 0.625rem;
	min-height: 20vh;
}

.social-link{
	color: var(--light-clr);
	border: 1px solid var(--light-clr);
	width: 2.5rem;
	height: 2.5rem;
	border-radius: var(--radius-circle);
	transition: transform var(--transition);
}

.social-link:is(:hover,:focus){
	border-color: var(--soft-magenta-clr);
	color: var(--soft-magenta-clr);
	transform: translateY(5px);
}

/* media query @ 992px */

@media (min-width: 62em){
	body{
		background-image: url('../images/bg-desktop.svg');
		background-size: cover;
		background-position: center;
		max-width: 1320px;
		margin-inline: auto;
	}

	:is(main, .header, footer){
		padding-inline: 0;
	}
	
	.logo-image{
		width: 200px;
	}

	.hero-banner img{
		margin-block-start: 5.625rem;
	}

	.hero-container{
		grid-template-columns: 1.8fr 1fr;
		align-items: center;
		gap: 3rem;
	}

	.hero-content-group{
		text-align: left;
		margin-block-start: -2.5rem;
	}

	.hero-title{
		font-size: 2.2rem;
	}

	.social-list{
		justify-content: flex-end;
		min-height: initial;
	}
}

